<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tags.css') }}" />
		<b style="font-size: 12px;">Tags</b>
		<ul name="tag-sidebar" id="tag-sidebar">
      {% for tag in mod.tags %}
<li class="tag-type-general" name="{{tag.id}}" id="{{tag.id}}">
        {% if editable %}
        <a href="#" onclick="removetag({{tag.id}});return false;">X</a>
        {% endif %}
        <a href="/{{ga.short}}/search?query={{tag.name|e}}">{{tag.name|e}}</a>
         <span style="color: #a0a0a0;">{{len(tag.mods)}}</span>
      </li>
      {% endfor %}
    </ul>
    {% if editable %}
    <div class="form-group">
  <input placeholder="New tag..." type="text" class="form-control" id="new_tag" name="new_tag">
</div>
{% endif %}
