ul, li, dd, dt {
  	font-family: verdana, sans-serif;
  	margin-left: 10px;
  	padding: 0;
}
div.sidebar3 {
  margin:5px;
}
div.sidebar2 {
  text-align: left;
  left:0px;
  width: 180px;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 10px;
  padding: 15px;
  border-top: 1px solid #f0f0f0;
}
.tag-type-general > a {
  	color: #A0A;
    text-overflow: ellipsis;
}

.tag-type-artist > a,
a.tag-type-artist {
  	color: #A00;
}

.tag-type-artist > a:hover {
  	color: #9093FF;
}

.tag-type-character > a {
  	color: #0A0;
}

.tag-type-character > a:hover {
  	color: #9093FF;
}

.tag-type-copyright > a {
  	color: #A0A;
}

.tag-type-copyright > a:hover {
  	color: #9093FF;
}
ul {

  list-style-type: none;
}
ul {
}

ul.flat-list {
	font-size: .75em;
  	display: inline-block;
}

ul.flat-list li {


li.current-page a {
	display: inline-block;
	background: #ffffff;
	color: #006ffa;
	padding: 0 0 0 1em;
	font-weight: bold;
}
/*END Flat list Header location*/


/*START Flat list2 Header location*/

ul.flat-list2 {
	font-size: .75em;
  	display: inline;
}

ul.flat-list2 li {
  	display: inline;
  	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.flat-list2 li a {
	padding: 1.3125em;
}

ul.flat-list2 li a:hover {
}
